.h2{
    width: 585px;
    height: 40px;
    background-color: #25273C;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    right: 5px;
    display: flex;
    justify-content: center;
    color: white;
}